<!DOCTYPE html>
<html>
<head>
    <title>URL Shortener</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

    <h1>🔗 URL Shortener</h1>

    <p>Convert long URLs into short, shareable links.</p>

    <form method="POST">

        <input
            type="text"
            name="url"
            placeholder="Paste your long URL here..."
            required>

        <button type="submit">
            Shorten URL
        </button>

    </form>

    {% if short_url %}

    <div class="result">

        <h3>Your Short URL</h3>

        <a href="{{ short_url }}">
            {{ short_url }}
        </a>

    </div>

    {% endif %}

</div>

</body>
</html>